<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static './css/timeline.css' %}">
  <script src="{% static './js/timeline.js' %}"></script>
  <link rel="shortcut icon" href="{% static './image/favicon.png' %}" type="image/x-icon">
  <title>Campus Connect</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static './js/timeline.js' %}"></script>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-logo">
      <a href="#">
        <img src="{% static './image/sicsrlogo.png' %}" alt="SICSR" class="logo">
      </a>
    </div>
    <ul class="navbar-menu" id="navbarMenu">
      <li><a href="{% url 'TimeLine' %}">Timeline</a></li>
      <li><a href="{% url 'notes' %}">Notes</a></li>
      <li><a href="{% url 'attendance' %}">Attendance</a></li>
      <li><a href="{% url 'Home' %}">Connect</a></li>
      <li><a href="{% url 'LogIn' %}">Log Out</a></li>
    </ul>
    <button type="button" name="navbarToggle" class="navbar-toggle" id="navbarToggle" >
      <span class="navbar-toggle-icon"></span>
    </button>
  </nav>
  <div class="container">
    <div class="timeLabel">
        <h1>Upcoming Schedule</h1>
    </div>
    <div class="queryArea">
        <form action="{% url 'TimeLine' %}" method="post">
            <input type="hidden" name="loggedUser" id="loggedUser">
            <input type="hidden" name="isStudent">
            <label for="start-date">From   </label>
            <input type="date" id="start-date" name="start-date" value="">
            <label for="end-date">To   </label>
            <input type="date" id="end-date" name="end-date" value="" aria-dropeffect="execute">
            <label for="match-type">Match type   </label>
            <select id="match-type" name="match-type" multiple class="dropdown">
              <option value="A">BCA (II) - Div. A</option>
              <option value="B">BCA (II) - Div. B</option>
              <option value="C">BCA (II) - Div. C</option>
              <option value="D">type.D</option>
              <option value="E">External</option>
              <option value="F">BCA (IV) - Div. A</option>
              <option value="G">BCA (IV) - Div. B</option>
              <option value="H">BCA (IV) - Div. C</option>
              <option value="I">BCA (IV) - Div. D</option>
              <option value="J">BCA (IV) - Div. E</option>
              <option value="K">BCA (IV) - Elective</option>
              <option value="L">BCA (IV) - Comm</option>
              <option value="M">BCA(Honours) (IV) - Elective</option>
              <option value="N">BBA-IT (II) - Div. A</option>
              <option value="O">BBA-IT (II) - Div. B</option>
              <option value="P">BBA-IT (II) - Div. C</option>
              <option value="Q">type.Q</option>
              <option value="R">type.R</option>
              <option value="S">BBA-IT (IV) - Div. A</option>
              <option value="T">BBA-IT (IV) - Div. B</option>
              <option value="U">BBA-IT (IV) - Div. C</option>
              <option value="V">BBA-IT (IV) - Elective</option>
              <option value="W">BBA-IT (IV) - Comm</option>
              <option value="X">MBA-IT (II)</option>
              <option value="Y">MBA-IT (II) - ITIM</option>
              <option value="Z">MBA-IT (II) - DA</option>
              <option value="a">type.a</option>
              <option value="b">type.b</option>
              <option value="c">MBA-DT (II)</option>
              <option value="d">MSC-CA (II)</option>
              <option value="e">MSC-CA (II) - DS</option>
              <option value="f">MSC-CA (II) - SD</option>
              <option value="g">BBA(IT) (VI)</option>
              <option value="h">type.h</option>
              <option value="i">Meetups/Placement</option>
              <option value="j">EXAM</option>
              <option value="k">Elective</option>
              <option value="l">Common Batch</option>
              <option value="m">Guest Lecture</option>
              <option value="n">type.n</option>
              <option value="o">type.o</option>
              <option value="p">type.p</option>
              <option value="q">BREAK</option>
              <option value="r">type.r</option>
              <option value="s">BCA (II) - Div. D</option>
              <option value="t">BCA (II) - Div. E</option>
              <option value="u">BCA (II) - Div. F</option>
              <option value="v">BBA(IT) (VI) - Gr 1</option>
              <option value="w">BBA(IT) (VI) - Gr 2</option>
              <option value="x">BCA (VI) - Gr 1</option>
              <option value="y">BCA (VI) - Gr 2</option>
              <option value="z">type.z</option>
            </select>
            <button type="submit" name="submitBtn" value="findTable">Search</button>
        </form>
    </div>
    <div class="timeLine" id = timeLine>
      Today's Lectures
      <div class="loading">
        <div class="loader-wheel"></div>
        <div class="loader-text"></div>
      </div>
    </div>
    <div class="searchResult">
      {% if data %}
      <h3>Search Result</h3>
      <table border="2px">
        {% for row in data %}
          <tr>
            {% for value in row %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    {% else %}
    <div class="resultContainer" id="info">
      <div class="changes">
        <form action="" method="post" class="temp">
          <label for="lectureChange">Change Schedule</label><br>
          <select name="lectureChange" id="planChange" class="drop">
            <option value="cancel">Cancel Lecture</option>
            <!-- <option value="add">Add Extra Lecture</option> -->
          </select><br><br>
          <label for="subName">Subject</label><br>
          <select name="subName" id="subName" class="drop">
          </select><br><br>
          <label for="date">Date</label><br>
          <input type="datetime-local" name="date" id="date" class="onlyDate"><br> <br>
          <button type="button" id="check">Check</button>
        </form>
        <p id="msg"></p>
      </div>
      <div class="possible">
          <table id="possibleTable" border="2px">

          </table>
      </div>

    </div>
    {% endif %}
    </div>
    <div class="inTimeline">
      Today's TODO
      <div class="loading">
        <div class="loader-wheel"></div>
        <div class="loader-text"></div>
      </div>
    </div>
    <div class="addtotimeline">
      <h3>Add to Timeline</h3>
      <form action="{% url 'TimeLine' %}" method="post" spellcheck="true" class="todo">
        <input type="hidden" name="loggedUser">
        <input type="hidden" name="isStudent">
        <div>
          <label for="task">Add Task</label>
          
        </div>
        <div>
          <label for="description">Add Description</label>

        </div>
        <div>
          <label for="time">Date</label>

        </div>
        <div>
          <label for="reminder">Send Reminder</label>

        </div>
        <div>
          <input type="text" name="task" id="task" placeholder="Submit Assignment">
          
        </div>
        <div>
          <input type="text" name="description" id="description" placeholder="Get printout and hand it CR">
          
        </div>
        <div>
          <input type="date" name="time" id="time">

        </div>
        <div>
          <input type="checkbox" name="reminder" id="reminder" checked>
        </div>
        <div class="btn">
          <button type= "submit" name="submitBtn" value="addInfo">Add</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
